.button {
  width: 500px;
  height: 200px;
  border: 2px solid whitesmoke;
  background: transparent;
  cursor: pointer;
  background-color: teal;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  color: white;
  font-family: fantasy;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #623e95, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
